## Settings file was created by plugin Fermenting v1.1.6
## Plugin GUID: blacks7ar.Fermenting

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2- General]

## Base production speed of fermenters in seconds.
## (Vanilla: 2400) [Synced with Server]
# Setting type: Single
# Default value: 2400
# Acceptable value range: From 60 to 2400
Production Speed = 2400

## Additional product amount at skill level 100. [Synced with Server]
# Setting type: Int32
# Default value: 6
# Acceptable value range: From 1 to 20
Product Output = 6

## Required skill level to display the production speed of fermenters. [Synced with Server]
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 0 to 100
Display Duration Level = 5

[3- Skill Exp]

## Exp gain factor for Fermenting skill. [Synced with Server]
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 5
Exp Gain Factor = 1

## Skill exp loss on death. [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Exp Loss = 3

## Enable/Disables exp gain notification. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Display Exp Gained = On

