## Settings file was created by plugin NoVegvisirHints v0.2.1
## Plugin GUID: com.orianaventure.mod.NoVegvisirHints

[General]

## True to turn the camera in the direction of the location when pins are blocked (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
SetLookDirection = true

