## Settings file was created by plugin Visbending Mod v1.1.0
## Plugin GUID: Goathedge.Visbending

[BogWitch_Camp]

## Distance (in meters) from central location the stones shall appear, allowed values 80 <= radius <=500.
# Setting type: Int32
# Default value: 350
Radius = 350

## Number of stones placed around central location, allowed values 8 <= Number of stones <=32.
# Setting type: Int32
# Default value: 16
NoOfStones = 8

## Color of the stone (Hex Code, for example #FF0000).
# Setting type: String
# Default value: #33FF33
ColorKey = #33FF33

[General]

## You can set the default distance/radius and the default number of stones per location. These values are required for calculations. Changes to the configuration only affect new worlds. You can choose any color you like and change it at any time.
# Setting type: String
# Default value: Hint stones for special locations like trader camps
Description = Hint stones for special locations like trader camps

[Hildir_camp]

## Distance (in meters) from central location the stones shall appear, allowed values 80 <= radius <=500.
# Setting type: Int32
# Default value: 350
Radius = 350

## Number of stones placed around central location, allowed values 8 <= Number of stones <=32.
# Setting type: Int32
# Default value: 16
NoOfStones = 8

## Color of the stone (Hex Code, for example #FF0000).
# Setting type: String
# Default value: #FFFF00
ColorKey = #FFFF00

[LogContext]

## LogContext, comma separated, possible values Extraction,Localization,Registration,RPC,Spawning,Terrain,Text,ZDO,ZNet,ZNetScene,ZNetView,ZoneSystem
# Setting type: String
# Default value:  
Context = 

[Use English for rune text]

## if a language file for the user language is present it will by default be used for rune texts. If some special letters do not work, switch to english.
# Setting type: Boolean
# Default value: false
UseEnglishForRunes = false

[Vendor_BlackForest]

## Distance (in meters) from central location the stones shall appear, allowed values 80 <= radius <=500.
# Setting type: Int32
# Default value: 350
Radius = 350

## Number of stones placed around central location, allowed values 8 <= Number of stones <=32.
# Setting type: Int32
# Default value: 16
NoOfStones = 8

## Color of the stone (Hex Code, for example #FF0000).
# Setting type: String
# Default value: #009f9f
ColorKey = #009f9f

