## Settings file was created by plugin Culinary_Horizons v1.0.1
## Plugin GUID: Insanity.Culinary_Horizons

[General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Enables generated configuration entries for items and build pieces. Disabled by default to reduce game startup time and simplify updates. Enable if you want to customize item or build piece settings. Requires game restart.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Enable Generated Configs = Off

