## Settings file was created by plugin BetterBeehives v1.2.3
## Plugin GUID: maxfoxgaming.betterbeehives

[0. Logging]

## Whether the mod should print outputs and data to the console. Only needed for debugging.
# Setting type: Boolean
# Default value: false
Logs Enabled = true

[1. Beehives]

## A comma separated list of build pieces that should be considered for Better Beehives.
# Setting type: String
# Default value: piece_beehive
Beehive Prefabs = piece_beehive

## When the beehive has full honey level, this is the chance that a queen bee will also be collected.
## You can still harvest with less than full honey and the resulting chance will be scaled down to match how full the hive is.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 1
Queen Bee Drop Chance = 0.01

## If a queen bee is successfully retrieved, this is the chance that you will also get royal jelly.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Royal Jelly Drop Chance = 0.25

## How many attempts are made to drop a piece of Royal Jelly. Each piece will haev the configured set chance to spawn.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 5
Royal Jelly Drop Attempts = 3

[2. Plants]

## When the beehive ticks and generates a honey, this value determines how likely a nearby plant is to grow (per plant).
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 1
Nearby Plants Growth Chance = 0.1

## The range around a beehive that plants grow. Spherical.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 20
Nearby Plants Range = 5

## Player placed plants that can be grown faster by nearby beehives.
# Setting type: String
# Default value: sapling_barley,sapling_carrot,sapling_flax,sapling_jotunpuffs,sapling_magecap,sapling_onion,sapling_turnip,sapling_seedcarrot,sapling_seedonion,sapling_seedturnip,VineAsh_sapling,VineGreen_sapling
Nearby Growable Plants = sapling_barley,sapling_carrot,sapling_flax,sapling_jotunpuffs,sapling_magecap,sapling_onion,sapling_turnip,sapling_seedcarrot,sapling_seedonion,sapling_seedturnip,VineAsh_sapling,VineGreen_sapling

## Pickable items that can be regrown by nearby beehives that are not player placed crops and plants.
# Setting type: String
# Default value: Pickable_Dandelion,Pickable_Fiddlehead,Pickable_Mushroom,Pickable_Mushroom_yellow,Pickable_Mushroom_JotunPuffs,Pickable_Mushroom_Magecap,Pickable_SmokePuff,Pickable_Thistle,RaspberryBush,BlueberryBush,CloudberryBush
Nearby Growable Pickables = Pickable_Dandelion,Pickable_Fiddlehead,Pickable_Mushroom,Pickable_Mushroom_yellow,Pickable_Mushroom_JotunPuffs,Pickable_Mushroom_Magecap,Pickable_SmokePuff,Pickable_Thistle,RaspberryBush,BlueberryBush,CloudberryBush

[3. Client]

## If bees are set to nearby plants, this will control how many bee particles appear around plants that are affected.
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 1
Bee Density = 0.2

