## Settings file was created by plugin AdjustablePortals v0.3.0
## Plugin GUID: MidnightsFX.AdjustablePortals

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

[PortalActivation]

## When enabled, portals require a set number of building pieces around them in order to activate
# Setting type: Boolean
# Default value: true
EnablePortalPieceRequirements = true

## The number of building pieces required nearby in order for a portal to be activated.
# Setting type: Int32
# Default value: 1000
# Acceptable value range: From 0 to 10000
PortalNearbyPiecesForActivation = 100

## The distance that will be checked for nearby building pieces to meet the required structures nearby.
# Setting type: Single
# Default value: 100
# Acceptable value range: From 0 to 150
PortalPieceActivationDistance = 100

## When enabled, portals require a fuel item to teleport users
# Setting type: Boolean
# Default value: false
EnablePortalRequireFuel = true

## The number of usages that one batch of the fuel type provides
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 150
PortalFuelUsagesPerBatch = 30

## The number of the portal fuel required for activation.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 150
PortalFuelBatchSize = 1

## The prefab name that will be used for the portal costs.
# Setting type: String
# Default value: SurtlingCore
PortalFuelPrefab = SurtlingCore

[PortalProgression]

## Comma seperated list of prefab items that will be allowed to teleported once Eikthyr is defeated.
# Setting type: String
# Default value: 
DefeatedEikthyrAllowedItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once The Elder is defeated.
# Setting type: String
# Default value: 
DefeatedElderAllowedItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once Bonemass is defeated.
# Setting type: String
# Default value: Bronze,Copper,Tin,CopperOre,TinOre,BronzeScrap
DefeatedBonemassAllowedItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once Moder is defeated.
# Setting type: String
# Default value: Iron,IronOre,Ironpit,IronScrap,chest_hildir1,chest_hildir2,chest_hildir3
DefeatedModerAllowItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once Yagluth is defeated.
# Setting type: String
# Default value: Silver,SilverOre,DragonEgg
DefeatedYagluthAllowItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once The Seeker Queen is defeated.
# Setting type: String
# Default value: MechanicalSpring,BlackMetal,BlackMetalScrap
DefeatedQueenAllowItems = 

## Comma seperated list of prefab items that will be allowed to be teleported once Fader is defeated.
# Setting type: String
# Default value: DvergrNeedle
DefeatedFaderAllowItems = 

