## Settings file was created by plugin Compass v1.0.6
## Plugin GUID: shudnal.Compass

[Compass]

## Orientation type. Camera direction or player eyes direction could be used as a center of a compass.
# Setting type: OrientationType
# Default value: Camera
# Acceptable values: Camera, Player
Orientation based on = Camera

## Defines whether compass is anchored to top or bottom side of the screen.
# Setting type: AnchorPositionType
# Default value: Top
# Acceptable values: Top, Bottom
Anchor position = Top

## Scale of whole compass component
# Setting type: Single
# Default value: 1
Scale = 0.9

## Offset from selected anchor position. X moves compass left/right. Y moves compass down from top, up from bottom.
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
Position offset = {"x":0.0,"y":0.0}

## Show center marker
# Setting type: Boolean
# Default value: true
Show center = true

[General]

## Enable the mod.
# Setting type: Boolean
# Default value: true
Enabled = true

## Enable logging.
# Setting type: Boolean
# Default value: false
Logging enabled = false

[Pin style]

## Pins color. If not set - default is white
# Setting type: Color
# Default value: 00000000
Color = 00000000

## Pins alpha. X for max alpha, Y for min alpha
# Setting type: Vector2
# Default value: {"x":1.0,"y":0.33000001311302187}
Alpha = {"x":1.0,"y":0.33000001311302187}

## Pins scale. X for max scale, Y for min scale
# Setting type: Vector2
# Default value: {"x":1.0,"y":0.33000001311302187}
Scale = {"x":1.0,"y":0.33000001311302187}

## Conditions for alpha and scale application
## X - Minimum distance to show pins
## Y - Distance where pins will start to become smaller. Size is at maximum. Alpha is at maximum.
## Z - Distance where pins will start to become more transparent. Size is at minimum. Alpha is at maximum.
## W - Maximum distance to show pins. Size is at minimum. Alpha is at minimum.
# Setting type: Vector4
# Default value: {"x":1.0,"y":20.0,"z":250.0,"w":550.0}
Style conditions = {"x":1.0,"y":20.0,"z":250.0,"w":550.0}

[Pin text style]

## Pin text size
# Setting type: Single
# Default value: 18
Size = 18

## Pin text color
# Setting type: Color
# Default value: FFFFFFFF
Color = FFFFFFFF

## Pin text format
# Setting type: FontStyles
# Default value: Bold
# Acceptable values: Normal, Bold, Italic, Underline, LowerCase, UpperCase, SmallCaps, Strikethrough, Superscript, Subscript, Highlight
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Format = Bold

[Pins]

## Pin types to show on the compass. Use Configuration Manager for more convenient editing.
## Static - fixed locations like Haldor, Hildir, Bog Witch, Sacrificial Stones
## Custom - Any custom pin type added by other mods
## EventArea - red circle around an event
## RandomEvent - red exclamation mark of an event
# Setting type: CompassPinType
# Default value: All
# Acceptable values: None, Icon0, Icon1, Icon2, Icon3, Icon4, Death, Bed, Shout, Boss, Player, RandomEvent, Ping, EventArea, HildirQuest, Static, Custom, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Show pins = None

## && separated pin names to ignore. Wildcards * and ? supported. Use Configuration Manager for more convenient editing.
# Setting type: String
# Default value: Silver&&Obsidian&&Copper&&Tin
Ignore pin names = Silver&&Obsidian&&Copper&&Tin

## Death pins except the last one will be hidden.
# Setting type: Boolean
# Default value: true
Show only last death = false

## Hide pins checked by red cross.
# Setting type: Boolean
# Default value: false
Hide checked pins = false

## Hide pins shared via Cartography Table.
# Setting type: Boolean
# Default value: false
Hide shared pins = true

## Hold to show player shouts without distance filter.
# Setting type: KeyboardShortcut
# Default value: LeftAlt
Hold to show shouts at any distance = LeftAlt

## Hold to show players with public positions without distance filter.
# Setting type: KeyboardShortcut
# Default value: LeftAlt
Hold to show players at any distance = LeftAlt

## Hold to show player pings without distance filter.
# Setting type: KeyboardShortcut
# Default value: LeftAlt
Hold to show pings at any distance = LeftAlt

## Hold to show pin text if it is set.
# Setting type: KeyboardShortcut
# Default value: LeftControl + LeftAlt
Hold to show pin text = LeftControl + LeftAlt

## Always show pin text if it is set.
# Setting type: Boolean
# Default value: false
Always show pin text = false

[Style]

## Compass color
# Setting type: Color
# Default value: FFFFFF80
Compass color = FFFFFFE6

## Center marker color
# Setting type: Color
# Default value: FFEB0480
Center color = FFEB0480

