## Settings file was created by plugin ServeYouRight v1.0.2
## Plugin GUID: sighsorry.ServeYouRight

[ServingTray - Culinary_Horizons (Insanity.Culinary_Horizons)]

## If on, 'Culinary_Horizons' Food items go to 'Food - Culinary_Horizons'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = On

## If on, 'Culinary_Horizons' Mead items go to 'Meads - Culinary_Horizons'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = On

## If on, 'Culinary_Horizons' Feast items go to 'Feasts - Culinary_Horizons'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = On

[ServingTray - HoneyPlus (OhhLoz-HoneyPlus)]

## If on, 'HoneyPlus' Food items go to 'Food - HoneyPlus'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = On

## If on, 'HoneyPlus' Mead items go to 'Meads - HoneyPlus'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = On

## If on, 'HoneyPlus' Feast items go to 'Feasts - HoneyPlus'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = On

[ServingTray - Jam (randyknapp.mods.jam)]

Food = On

Meads = On

Feasts = On

[ServingTray - Monstrum (Therzie.Monstrum)]

## If on, 'Monstrum' Food items go to 'Food - Monstrum'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = On

## If on, 'Monstrum' Mead items go to 'Meads - Monstrum'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = On

## If on, 'Monstrum' Feast items go to 'Feasts - Monstrum'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = On

[ServingTray - Wizardry (Therzie.Wizardry)]

## If on, 'Wizardry' Food items go to 'Food - Wizardry'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = On

## If on, 'Wizardry' Mead items go to 'Meads - Wizardry'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = On

## If on, 'Wizardry' Feast items go to 'Feasts - Wizardry'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = On

