## Settings file was created by plugin ZenRecycle v1.2.4
## Plugin GUID: ZenDragon.ZenRecycle

[_Author]

## ZenDragon
## Like my mods?
# Setting type: String
# Default value: https://github.com/ZenDragonX/ZenMods_Valheim/wiki
Website = https://github.com/ZenDragonX/ZenMods_Valheim/wiki

[_Debug]

## Generate additional debug information in the logs for this mod.
## This will cause a performance hit and should only be used for debugging.
# Setting type: Boolean
# Default value: false
Enable Logging = false

[Recycle]

## [Admin] Use the Obliterator/Deconstructor to salvage scraps from items.
## Only a single ingredient will be recovered from each item in the machine. 
## The resource selected is chosen at random.
## All levels of the item will be included in the total amount of the resource returned up to the max stack size.
## [What percentage of that total should be returned? Default: 100%]
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Recycle Percent = 0.25

## [Admin] List of items which will never be recycled.
## However, they will still be destroyed / obliterated.
# Setting type: StringList
# Default value: 
No Recycle - Items = 

## [Admin] This item must be in the machine for each use.
## [Vanilla: blank]
# Setting type: String
# Default value: Thunderstone
Item Required Per Use = Thunderstone

## [Admin] Amount needed of the Item Required Per Use.
## [For example it could be Coins x 250]
## [Has no effect if Item Required Per Use is blank]
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 1000
Item Required Per Use - Amount = 1

## [Admin] Obliterator crafting requirements.
## NOTE: Thunderstone was removed because the default configs require it to be consumed on each use.
## [Vanilla - Iron:8, Copper:4, Thunderstone:1]
# Setting type: StringList
# Default value: Iron:8, Copper:4
Crafting Requirements = Iron:8, Copper:4, Thunderstone:1

## [Admin] Never recycle items that only have a single ingredient when that ingredient is not teleportable.
## Single ingredient items can be abused to always get back the original ingredient and bypass portal restrictions.
## Example: BronzeNails, IronNails
# Setting type: Boolean
# Default value: true
No Recycle - Single Ingredient No Teleport = true

## [Admin] Ingots are melted into ore/scrap automatically.
## This is a map of items that are melted back into other items.
## By default it's a conversion map of ingots back to ore.
## It could map anything to anything, but it must be 1 item yields 1 ingredient.
## Advanced Option:
## Append %n to the end of a resource to force a yield % of that item diff than RecyclePercent
## Divide multiple resources with | to have an even chance of selecting any one of those resources.
## Example, this will give a 34% chance to convert bronze to TinOre, and a 67% chance to convert Bronze to CopperOre:
## Bronze:TinOre%34|CopperOre%67
# Setting type: StringList
# Default value: Tin:TinOre, Copper:CopperOre, Bronze:BronzeScrap, Iron:IronScrap, Silver:SilverOre, BlackMetal:BlackMetalScrap, FlametalNew:FlametalOreNew, Flametal:FlametalOre
Melt Conversion = Tin:TinOre, Copper:CopperOre, Bronze:BronzeScrap, Iron:IronScrap, Silver:SilverOre, BlackMetal:BlackMetalScrap, FlametalNew:FlametalOreNew, Flametal:FlametalOre

[Smash Trash]

Destroy = false

Require Drop First = true

Destruction Rule = AdminOnly

[Trash]

## [Admin] You can smash trash items on the ground.
## [Disabled by default because progression is nice without it, burn in fire instead]
# Setting type: Boolean
# Default value: false
Destroy - On Ground = false

## [Admin] You can only destroy items on the ground that you have dropped from your inventory.
## If you leave the area the item will no longer be able to be destroyed until you pick it up and drop it again.
## Safety feature to prevent accidental destruction of items that you drop.
# Setting type: Boolean
# Default value: true
Destroy - On Ground - Require Drop = true

## [Admin] You can burn trash in these fires.
## [Leave blank to disable this feature]
## [restart required for changes to take effect]
# Setting type: StringList
# Default value: bonfire, fire_pit_iron
Destroy - In Fires = bonfire, fire_pit_iron

## [Admin] What are the rules for destroying items?
## Everything: Any item can be destroyed, no restrictions.
## ProtectImportant: Important items can not be destroyed (no-teleport, or equipable).
## ProtectImportantAskOther: Important items can not be destroyed, confirm for anything else.
## AskImportant: Ask before destroying important items.
## AskEverything: Any item can be destroyed, but confirmation is required for everything.
## AdminOnly: Only Admin can destroy items (Must be in God mode)
## [Admin can always override by being in God mode and holding LeftAlt]
# Setting type: DestroyOptionGround
# Default value: ProtectImportantAskOther
# Acceptable values: Everything, ProtectImportant, ProtectImportantAskOther, AskImportant, AskEverything, AdminOnly
Destruction Rule - On Ground = ProtectImportantAskOther

## [Admin] What are the rules for destroying items?
## Everything: Any item can be destroyed, no restrictions.
## ProtectImportant: Important items can not be destroyed (no-teleport, or equipable).
## AdminOnly: Only Admin can destroy items (Must be in God mode)
## [Admin can always override by being in God mode and holding LeftAlt]
# Setting type: DestroyOptionFire
# Default value: ProtectImportant
# Acceptable values: Everything, ProtectImportant, AdminOnly
Destruction Rule - In Fire = ProtectImportant

