## =======================================
## Луга (ранняя игра)
## =======================================

[NeckTide_Army]
Name=NeckTide_Army
Enabled=True
Random=True
Biomes=Meadows
Duration=90
StartMessage=Склизкие твари лезут из прудов!
EndMessage=Шеи уползают обратно в мутную воду.
NearBaseOnly=False
RequiredGlobalKeys=
NotRequiredGlobalKeys=defeated_eikthyr
PauseIfNoPlayerInArea=False
ForceMusic=CombatEventL4

[NeckTide_Army.0]
Name=NeckTide_Army
Enabled=true
PrefabName=Neck
MaxSpawned=6
SpawnInterval=15
SpawnChancePerInterval=100
GroupSizeMin=3
GroupSizeMax=4
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## =======================================
## Чёрный лес
## =======================================

[TrollRampage_Army]
Name=TrollRampage_Army
Enabled=True
Random=True
Biomes=Meadows, BlackForest
Duration=90
StartMessage=Земля дрожит. Они идут.
EndMessage=Великаны уходят в глубь леса.
NearBaseOnly=False
RequiredGlobalKeys=defeated_eikthyr
NotRequiredGlobalKeys=defeated_bonemass
PauseIfNoPlayerInArea=False
ForceEnvironment=DeepForest Mist
ForceMusic=CombatEventL4

[TrollRampage_Army.0]
Name=TrollRampage_Army
Enabled=true
PrefabName=Troll
MaxSpawned=2
SpawnInterval=40
SpawnChancePerInterval=100
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[TrollRampage_Army.1]
Name=TrollRampage_Army
Enabled=true
PrefabName=Greydwarf_Elite
MaxSpawned=3
SpawnInterval=20
SpawnChancePerInterval=75
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## =======================================
## Болота
## =======================================

[DraugrMarch_Army]
Name=DraugrMarch_Army
Enabled=True
Random=True
Biomes=Meadows, Swamp
Duration=90
StartMessage=Мертвецы маршируют в ночи.
EndMessage=Кости рассыпаются в прах.
NearBaseOnly=False
RequiredGlobalKeys=defeated_gdking
NotRequiredGlobalKeys=defeated_bonemass
PauseIfNoPlayerInArea=False
ForceEnvironment=ThunderStorm
ForceMusic=CombatEventL4

[DraugrMarch_Army.0]
Name=DraugrMarch_Army
Enabled=true
PrefabName=Draugr
MaxSpawned=5
SpawnInterval=15
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[DraugrMarch_Army.1]
Name=DraugrMarch_Army
Enabled=true
PrefabName=Draugr_Ranged
MaxSpawned=2
SpawnInterval=20
SpawnChancePerInterval=75
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[DraugrMarch_Army.2]
Name=DraugrMarch_Army
Enabled=true
PrefabName=Draugr_Elite
MaxSpawned=1
SpawnInterval=30
SpawnChancePerInterval=50
GroupSizeMin=1
GroupSizeMax=1
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## Только ночной рейд

[WraithNight_Army]
Name=WraithNight_Army
Enabled=True
Random=True
Biomes=Meadows, Swamp
Duration=90
StartMessage=Духи мести вышли на охоту.
EndMessage=Рассвет прогоняет призраков.
NearBaseOnly=False
RequiredGlobalKeys=defeated_gdking
NotRequiredGlobalKeys=defeated_dragon
PauseIfNoPlayerInArea=False
ForceMusic=CombatEventL4

[WraithNight_Army.0]
Name=WraithNight_Army
Enabled=true
PrefabName=Wraith
MaxSpawned=4
SpawnInterval=20
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=False
HuntPlayer=True
GroundOffset=5
AltitudeMin=1
AltitudeMax=1000

[WraithNight_Army.1]
Name=WraithNight_Army
Enabled=true
PrefabName=Skeleton_Poison
MaxSpawned=3
SpawnInterval=15
SpawnChancePerInterval=75
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=False
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## =======================================
## Горы
## =======================================

[DrakeStorm_Army]
Name=DrakeStorm_Army
Enabled=True
Random=True
Biomes=Meadows, Mountain
Duration=90
StartMessage=Крылатые убийцы пикируют с небес!
EndMessage=Дракончики убираются в свои гнёзда.
NearBaseOnly=False
RequiredGlobalKeys=defeated_bonemass
NotRequiredGlobalKeys=defeated_goblinking
PauseIfNoPlayerInArea=False
ForceEnvironment=SnowStorm
ForceMusic=CombatEventL4

[DrakeStorm_Army.0]
Name=DrakeStorm_Army
Enabled=true
PrefabName=Drake
MaxSpawned=4
SpawnInterval=20
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=10
AltitudeMin=1
AltitudeMax=1000

[DrakeStorm_Army.1]
Name=DrakeStorm_Army
Enabled=true
PrefabName=Wolf
MaxSpawned=4
SpawnInterval=20
SpawnChancePerInterval=75
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## =======================================
## Равнины
## =======================================

[DeathsquitoSwarm_Army]
Name=DeathsquitoSwarm_Army
Enabled=True
Random=True
Biomes=Meadows, Plains
Duration=90
StartMessage=Жужжание. Много жужжания.
EndMessage=Укусы затихают.
NearBaseOnly=False
RequiredGlobalKeys=defeated_dragon
NotRequiredGlobalKeys=
PauseIfNoPlayerInArea=False
ForceEnvironment=GoblinKing
ForceMusic=CombatEventL4

[DeathsquitoSwarm_Army.0]
Name=DeathsquitoSwarm_Army
Enabled=true
PrefabName=Deathsquito
MaxSpawned=7
SpawnInterval=12
SpawnChancePerInterval=100
GroupSizeMin=3
GroupSizeMax=4
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=5
AltitudeMin=1
AltitudeMax=1000

[LoxStampede_Army]
Name=LoxStampede_Army
Enabled=True
Random=True
Biomes=Meadows, Plains
Duration=90
StartMessage=Земля дрожит от топота громадных копыт!
EndMessage=Стадо рассеивается по равнинам.
NearBaseOnly=False
RequiredGlobalKeys=defeated_dragon
NotRequiredGlobalKeys=defeated_goblinking
PauseIfNoPlayerInArea=False
ForceMusic=CombatEventL4

[LoxStampede_Army.0]
Name=LoxStampede_Army
Enabled=true
PrefabName=Lox
MaxSpawned=3
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[LoxStampede_Army.1]
Name=LoxStampede_Army
Enabled=true
PrefabName=GoblinBrute
MaxSpawned=2
SpawnInterval=25
SpawnChancePerInterval=75
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## =======================================
## Туманные земли
## =======================================

[SeekerHunt_Army]
Name=SeekerHunt_Army
Enabled=True
Random=True
Biomes=Meadows, Mistlands
Duration=90
StartMessage=Улей пробуждается. Они почуяли запах.
EndMessage=Рой уходит во тьму.
NearBaseOnly=False
RequiredGlobalKeys=defeated_goblinking
NotRequiredGlobalKeys=
PauseIfNoPlayerInArea=False
ForceEnvironment=Mistlands_thunder
ForceMusic=CombatEventL4

[SeekerHunt_Army.0]
Name=SeekerHunt_Army
Enabled=true
PrefabName=Seeker
MaxSpawned=4
SpawnInterval=20
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[SeekerHunt_Army.1]
Name=SeekerHunt_Army
Enabled=true
PrefabName=Tick
MaxSpawned=5
SpawnInterval=15
SpawnChancePerInterval=75
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

[SeekerHunt_Army.2]
Name=SeekerHunt_Army
Enabled=true
PrefabName=SeekerBrute
MaxSpawned=1
SpawnInterval=45
SpawnChancePerInterval=50
GroupSizeMin=1
GroupSizeMax=1
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000