[Sheepy_Army]
Name=Sheepy_Army
Enabled=True
Random=True
Biomes=Meadows
Duration=90
StartMessage=Бееееее!
EndMessage=Овцы убегают прочь
NearBaseOnly=False
RequiredGlobalKeys=
NotRequiredGlobalKeys=defeated_gdking
PauseIfNoPlayerInArea=False
ForceMusic=CombatEventL4

[Sheepy_Army.0]
Name=Sheepy_Army
Enabled=true
PrefabName=Sheep_TW
MaxSpawned=4
SpawnInterval=15
SpawnChancePerInterval=100
GroupSizeMin=3
GroupSizeMax=4
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=1
AltitudeMax=1000

## BlackForest

[GreydwarfMage_Army]
Name=GreydwarfMage_Army
Enabled=True
Random=True
Biomes=Meadows, BlackForest
Duration=90
StartMessage=Лесные маги пробудились!
EndMessage=Уходи из нашего леса, смертный!
NearBaseOnly=False
RequiredGlobalKeys=defeated_eikthyr
NotRequiredGlobalKeys=defeated_bonemass
PauseIfNoPlayerInArea=False
ForceEnvironment=Ashlands_ashrain
ForceMusic=CombatEventL4

[GreydwarfMage_Army.0]
Name=GreydwarfMage_Army
Enabled=true
PrefabName=GreydwarfMage_TW
MaxSpawned=3
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=3
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

[GreydwarfMage_Army.1]
Name=GreydwarfMage_Army
Enabled=true
PrefabName=Greydwarf_Shaman
MaxSpawned=2
SpawnInterval=15
SpawnChancePerInterval=50
GroupSizeMin=2
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

## Swamps

[SkeletonMage_Army]
Name=SkeletonMage_Army
Enabled=True
Random=True
Biomes=Meadows, Swamp
Duration=90
StartMessage=Болотные маги поднимаются из тьмы!
EndMessage=Убирайся с болот, смертный!
NearBaseOnly=False
RequiredGlobalKeys=defeated_gdking
NotRequiredGlobalKeys=defeated_dragon
PauseIfNoPlayerInArea=False
ForceEnvironment=Fader
ForceMusic=CombatEventL4

[SkeletonMage_Army.0]
Name=SkeletonMage_Army
Enabled=true
PrefabName=SkeletonMage_TW
MaxSpawned=2
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0.5
AltitudeMin=0
AltitudeMax=1000

[SkeletonMage_Army.1]
Name=SkeletonMage_Army
Enabled=true
PrefabName=BlobElite
MaxSpawned=1
SpawnInterval=15
SpawnChancePerInterval=50
GroupSizeMin=1
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0.5
AltitudeMin=0
AltitudeMax=1000

## Mountains

[FenringMage_Army]
Name=FenringMage_Army
Enabled=True
Random=True
Biomes=Meadows, Mountain
Duration=90
StartMessage=Маги гор выходят на охоту!
EndMessage=Ты нарушил покой гор, смертный!
NearBaseOnly=False
RequiredGlobalKeys=defeated_bonemass
NotRequiredGlobalKeys=defeated_goblinking
PauseIfNoPlayerInArea=False
ForceEnvironment=SnowStorm
ForceMusic=CombatEventL4

[FenringMage_Army.0]
Name=FenringMage_Army
Enabled=true
PrefabName=FenringMage_TW
MaxSpawned=2
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

[FenringMage_Army.1]
Name=Fenring_Cultist
Enabled=true
PrefabName=Fenring_Cultist
MaxSpawned=1
SpawnInterval=15
SpawnChancePerInterval=50
GroupSizeMin=1
GroupSizeMax=1
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

## Plains

[GoblinMage_Army]
Name=GoblinMage_Army
Enabled=True
Random=True
Biomes=Meadows, Plains
Duration=90
StartMessage=Сила равнин пробуждается!
EndMessage=Эта земля не для таких, как ты, смертный!
NearBaseOnly=False
RequiredGlobalKeys=defeated_dragon
NotRequiredGlobalKeys=
PauseIfNoPlayerInArea=False
ForceEnvironment=GoblinKing
ForceMusic=CombatEventL4

[GoblinMage_Army.0]
Name=GoblinMage_Army
Enabled=true
PrefabName=GoblinMage_TW
MaxSpawned=3
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=3
GroupSizeMax=3
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

[GoblinMage_Army.1]
Name=GoblinMage_Army
Enabled=true
PrefabName=GoblinShaman
MaxSpawned=2
SpawnInterval=15
SpawnChancePerInterval=50
GroupSizeMin=2
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

## Mistlands

[CorruptedMage_Army]
Name=CorruptedMage_Army
Enabled=True
Random=True
Biomes=Meadows, Mistlands
Duration=90
StartMessage=Маги Туманных земель окутывают всё мглой!
EndMessage=Ты чужак в этих туманах, смертный!
NearBaseOnly=False
RequiredGlobalKeys=defeated_goblinking
NotRequiredGlobalKeys=
PauseIfNoPlayerInArea=False
ForceEnvironment=Mistlands_thunder
ForceMusic=CombatEventL4

[CorruptedMage_Army.0]
Name=CorruptedMage_Army
Enabled=true
PrefabName=CorruptedDvergerMage_TW
MaxSpawned=2
SpawnInterval=30
SpawnChancePerInterval=100
GroupSizeMin=2
GroupSizeMax=2
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000

[CorruptedMage_Army.1]
Name=CorruptedMage_Army
Enabled=true
PrefabName=DvergerMageSupport
MaxSpawned=1
SpawnInterval=15
SpawnChancePerInterval=50
GroupSizeMin=1
GroupSizeMax=1
SpawnAtNight=True
SpawnAtDay=True
HuntPlayer=True
GroundOffset=0
AltitudeMin=0
AltitudeMax=1000
