[Version]

## Last mod version where the configuration update prompt was handled.
# Setting type: String
# Default value: 
LastHandledVersion = 1.0.1

## Last configuration update decision. Possible values: ResetToDefaults, KeepCurrentSettings.
# Setting type: String
# Default value: 
LastDecision = ResetToDefaults

